@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    background-color:rgb(241, 63, 63);
}
.side{
    background-color:white;
    float: inline-end;
    height: 500px;
    width: 100px;
    margin-right: 234px;
}


.btn_one{
    margin-top: 380px;
    padding: 4px;
    width: 60px;    
    margin-left: 20px;
    color: #3C6E71;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.logo{
    margin-top: 20px;
}

h2{
    margin-bottom: 4px;
    margin-top: 10px;
    text-transform: uppercase;
    margin-left: 200px;
    color: #3C6E71;
    display: inline-block;

}
h3{
    margin-left: 20px;
    color: rgba(60, 110, 113, 1);
}
p{
    margin-left: 170px;
    bottom: 20px;
    color:rgba(0, 0, 0, 0.5) ;
}

.container{
    width: 700px;
    height: 500px;
    background-color: #EAEFF5FA;
    margin: 50px auto;
}
 
.education-form{
    margin-top: 20px;
}
.name-row, .input-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 15px;
}
.name-row, .input{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 15px;
}
.label{
    font-size: 14px;
    margin-left: 22px;
    margin-bottom: 20px;
    color: #3C6E71;
    font-weight: bold;
}
.row{
    font-size: 14px;
    margin-left: 30px;
    /* margin-top: 30px; */
    color: #3C6E71;
    font-weight: bold;
}
.row,input[type="text"]{
    font-size: 14px;
    margin-left: 30px;
    margin-top: 30px;
    color: #3C6E71;
}

.input-row input[type="text"]{
    width: 75%;
    font-size: small;
    padding: 5px;
    /* margin-top: -22px; */
   margin: auto;
   border: none;
    border-radius: 5px;
    background-color: (217, 217, 217, 0.4)
}

.input .blood-select{
    width: 78%;
    margin-left: 35px;
    font-size: small;
    padding: 1px;
    margin-top: -6px;
    color: #3C6E71;
    border: none;
    border-radius: 5px;
}

.input-row .grade-select{
    width: 75%;
    margin-left: 20px;
    font-size: small;
    padding: 5px;
    color: #3C6E71;
     border: none;
    position: relative;
    bottom: 21px;
    border-radius: 5px;
}
.email-container{
    margin-left: 30px;
}
.email-container label{
    font-size: 14px;
    color: #3C6E71;
    font-weight: bold;
}
.email-container input[type="text"]{
    padding: 5px;
    font-size: small;
    width: 61%;
    display: flex;
    margin-top: 8px;
    margin-left: 1px;
    border: none;
    border-radius: 5px;
}
.input input[type="text"]{
    padding: 5px;
    font-size: small;
    width: 75%;
    display: flex;
    margin-top: 8px;
    margin-left:30px;
    border: none;
    border-radius: 5px;
}

.name-container{
    margin-left: 22px;
    margin-bottom: 20px;

}
.name-container label{
    font-size: 14px;
    color: #3C6E71;
    font-weight: bold;
    margin-left: 5px;
}
.name-container input[type="text"]{
    padding: 5px;
    font-size: small;
    width: 60%;
    display: flex;
    margin-top: 8px;
    margin-left: 1px;
    border: none;
    border-radius: 5px;
}
.contact-container{
    margin-left: 495px;
    margin-top: -55px;
   

}
.contact-container label{
    font-size: 14px;
    display: flex;
    color: #3C6E71;
    font-weight: bold;

}
/* .contact-container input[type="number"]{
    padding: 5px;
    font-size: small;
    width: 84%;
    display: flex;
    margin-top: 8px;
    margin-left:4px;
    border: none;
    border-radius: 5px;
}  */
.contact-container input[type="text"]{
    padding: 5px;
    font-size: small;
    width: 84%;
    display: flex;
    margin-top: 8px;
    margin-left:4px;
    border: none;
    border-radius: 5px;
}
.gender-container{
    margin-left: 25px;
    margin-top: 35px;
 }
 .gender-container label{
    font-size: 14px;
    margin-left: 4px;
    
 }
 span{
    color: #3C6E71;
    font-weight: bold;
 }
 .gender-container input[type="radio"]{
    margin-left: 12px;
 }
 .input-row input[type="number"]{
    width: 75%;
    font-size: small;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: (217, 217, 217, 0.4);
    margin-top: -22px;
    margin-left: 22px;
    color: #3C6E71;

 }
 .container3{
    margin-top: 20px;
 }
 .upload-container{
    margin-left: 30px;
    font-size: 14px;
    margin-top: 20px;
    color: #3C6E71;
    font-weight: bold;
}


.ui-datepicker {
    font-size: 12px; 
}

.ui-datepicker .ui-datepicker-header {
    padding: 0.3em;
}

.ui-datepicker-calendar {
    width: auto; 
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
    padding: 0.4em; 
}

.ui-datepicker-calendar .ui-state-default {
    padding: 0.2em; }


   
#social{
    margin-left: 20px;
    margin-bottom: 16px;
}
#social label{
    color:  rgba(0, 0, 0, 0.68);
    
}

.last_container{
    width: 600px;
    height: 500px;
    background-color: #EAEFF5FA;
    margin: 50px auto;
    
}
.last_side{
    background-color:white;
    float: inline-end;
    height: 500px;
    width: 100px;
    margin-right: 300px;
}
.last_enroll{
    margin-top: 15px;
}




